*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Gilroy ☞";
}

html,body{
width: 100%;
height: 100%;
}

#box{
    height: 300px;
    width: 300px;
    background-color: lightseagreen;
    position: absolute;
    animation-name: anime2;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

/* @keyframes anime {
    from{
        left:0;
        background-color: lightseagreen;
        top:0;

    }
    to{
        left:70%;
        background-color: salmon;
        top:55%;
    }
    
} */


@keyframes anime2{
    0%{
        left:0;
        background-color: lightseagreen;
        top:0;
        rotate: 0deg;
    }
    25%{
        left:75%;
        background-color: lightgreen;
        top:0;
        rotate: 360deg;
        /* border-radius: 50%; */
    }
    50%{
        left:75%;
        background-color: salmon;
        top:50%;
        /* border-radius: 200%; */
    }
    75%{
        left:0;
        background-color: crimson;
        top:50%;
        /* border-radius: 50%; */
        
    }   
    100%{
        left:0;
        background-color:lightblue;
        top:0;
        /* border-radius: 200%; */
        
    }

}